#placeholder {
    text-align: center;
    margin: auto;
    width: 50%;
    height: 200vh;
    /* background-color: red; */
    display: none;
}

.homepage-cards {
    margin: 100px auto;
}