#placeholder {
    text-align: center;
    margin: auto;
    width: 50%;
    height: 200vh;
    /* background-color: red; */
    display: none;
}

#landing {
    /* background-image: linear-gradient(var(--transparent-light), #0000); */
    /* background-color: var(--transparent-light); */
    width: 100%;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    padding: 20px 10px;
}

.darkmode #landing {
    background-color: #0000;
    background-image: none;
}

#landing-title {
    letter-spacing: 3px;
    font-size: 24px;
}

#landing-caption {
    margin: 100px 2%;
    font-size: 48px;
    /* color: white; */

    /* text-shadow: 1px 1px black; */
    /* box-shadow: 0px 0px 30px 20px var(--transparent-light); */

    /* transition: background-color 0.3s ease, box-shadow 0.3s ease; */
}

.darkmode #landing-caption {
    color: var(--primary-color);
    background-color: #0000;
    box-shadow: none;
    text-shadow: none;
}

@media screen and (max-width: 768px) {
    #landing-caption {
        font-size: 35px;

        br {
            display: none;
        }
    }
}