
.card-img-top {
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;

    width: 100%;
    height: 400px;
}

#title {
    color: var(--items-bg-color);
    font-family: 'Franklin Gothic Thin', 'Arial Narrow', Arial, sans-serif;
}

#desc {
    color: var(--items-bg-color);
}

.card {
    background-color: var(--primary-color);
    border: none;
}