.navbar {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.navbar .nav-link p {
    color: var(--primary-color);
    font-weight: 600;
    margin: auto 0;
    position: relative;
}

.navbar .nav-link p::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 0%;
        left: 0;
        bottom: 0;
        background: var(--primary-color);
        transition: width 0.2s;
    }

.navbar .nav-link.active p {
    color: var(--accent-color);
    /* text-decoration: underline; */
    font-weight: 700;
}

.navbar .nav-link p:hover:after {
    width: 100%;
}