.navbar {
    background-color: var(--transparent-color) !important;
}

.navbar .nav-link p {
    color: var(--primary-color);
    font-weight: 600;
    margin: auto 0;
    position: relative;
}

.navbar .nav-link p::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 0%;
        left: 0;
        bottom: 0;
        background: var(--primary-color);
        transition: width 0.2s;
}

.navbar .nav-link.active p {
    color: var(--accent-color);
    font-weight: 700;
}

.navbar .nav-link.active p::after {
    background: var(--accent-color);
    /* width: 100%; */
}

.navbar .nav-link.active p:hover:after {
    width: 100%;
    background: var(--accent-color);
}

.navbar .nav-link p:hover:after {
    width: 100%;
}

.logo {
    max-height: 40px;
    margin-right: 10px;
    cursor: pointer;
}

.darkmode-toggler {
    border: none;
    border-radius: 50%;
    /* background: var(--transparent-color); */
    background: #0000;
    margin: auto 5px;
    padding: 6px;

    transition: background-color 0.3s ease;
}

.darkmode-toggler:hover {
    background: var(--transparent-color);
}

.darkmode-toggler #lightmode-icon {
    fill: var(--primary-color);
    display: none;
}

.darkmode .darkmode-toggler #lightmode-icon {
    display: block;
}

.darkmode .darkmode-toggler #darkmode-icon {
    fill: var(--primary-color);
    display: none;
}