:root {
    --primary-color: #2E3841;
    --secondary-color: #8CA7C5;
    --accent-color: #8D8D61;
}

html, body, #root {
    height: 100%
}

body {
    background-image: url('../assets/oil-plant-bg.jpg');
    background-repeat: no-repeat;
    background-size: 100vw;
}