* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s ease;
}

:root {
    --primary-color: #2E3841;
    --secondary-color: #819ec3;
    --accent-color: #6f6f4d;
    --items-bg-color: white;

    --transparent-color: #0000001A;
    --transparent-light: rgba(255, 255, 255, 0.2);

    --background-image: url('../assets/oil-plant-bg.jpg');
    --background-image-dark: url('../assets/oil-plant-bg-night-lights.jpg');
}

.darkmode {
    --primary-color: #b1bdc8;
    --secondary-color: #323b45;
    --accent-color: #cccc8e;
    --items-bg-color: black;

    --transparent-color: #FFFFFF1A;
}

html, body, #root {
    height: 100%;
}

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--primary-color);

    background-image: var(--background-image-dark);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    /* background-size: 100vw; */

    transition: background-color 0.4s ease, color 0.4s ease, background-image 0.4s ease;
}